[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"
twine = "*"

[packages]
sqlalchemy-graphql-schemagen = {editable = true, path = "."}

[requires]
python_version = "3.7"
